/*
 * sipetani.css v0.0.2
 */

@font-face {
  font-family: Cabin;
  src: url(/sipetanix2/fonts/Cabin-Regular.ttf);
}

body {
  font-family: Cabin;
}
.bg-login{
  height: 100vh;
  background-image: url("../images/bg-login-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bg-login::after{
  content: "";
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: #000000a6;
}
#formlogin{
	position: relative;
	z-index:99;
}
.knt-login {
  padding-top: 150px;
}

.knt-beranda, .knt-kelola {
  padding-top: 100px;
}

.btn-beranda {
  margin-top: 15px;
}
#img-sipetani-judul {
  margin-bottom: 20px;
}

#img-sipetani-bar {
  height: 25px;
  width: auto;
}

#img-login {
  height: 20px;
  width: auto;
}

#txt-instansi {
  color: #fff;
	width:100%;
	text-align:center;

}

#img-undip {
  width: 50px;
  height: auto;
  margin-right: 5px;
}
.bg-info{
	background-color: transparent;
}
.panel{
	background-color: #00000038;
  margin-right: 55px;
  margin-left: 55px;
}
